<!-- templates/email_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags and styles go here -->
    <!-- ... -->
</head>
<body>
    <h1>Email Detail</h1>
    
    <p><strong>Subject:</strong> {{ email.subject }}</p>
    <p><strong>Sender:</strong> {{ email.sender }}</p>
    <p><strong>Source:</strong> {{ email.source }}</p>
    
    <div>
        <strong>Content:</strong>
        <p>{{ email.content }}</p>
    </div>

    {% if email.attachments.all %}
        <div>
            <strong>Attachments:</strong>
            {% for attachment in email.attachments.all %}
                <p>Attachment Filename: {{ attachment.name }}</p>
                <a href="{% url 'download_attachment' pk=email.pk %}" target="_blank">Download Attachment</a>



            {% endfor %}
        </div>
    {% endif %}

    <a href="{% url 'emails' %}">Back to Emails</a>
</body>
</html>
